.subscribe {
  padding-top: 100px;
}

.subscribe__inner {
  padding: 60px;
  background-color: #000000;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
}

.subscribe__subtitle {
  font-size: 18px;
  line-height: 27px;
  color: #118DA8;
}

.subscribe__title {
  font-size: 72px;
  line-height: 79px;
  letter-spacing: 2.88px;
}

.subscribe__forms {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.subscribe__input {
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
  background: #191919;
  border: 1px solid #191919;
  border-radius: 6px;
  padding: 26px 20px;
  margin-bottom: 20px;
}

.subscribe__forms button {
  width: 50%;
}

@media only screen and (max-width: 1100px) {
  .subscribe__title {
    font-size: 54px;
    line-height: 64px;
  }

  .subscribe__input {
    padding: 15px 20px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 980px) {
  .subscribe__title {
    font-size: 48px;
    line-height: 54px;
  }

  .subscribe__input {
    padding: 15px 20px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .subscribe__inner {
    padding: 40px;
    gap: 20px;
  }

  .subscribe__title {
    font-size: 44px;
    line-height: 50px;
  }

  .subscribe__subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .subscribe__forms {
    width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .subscribe__inner {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .subscribe__title {
    font-size: 40px;
    line-height: 46px;
  }

  .subscribe__forms {
    margin: 15px auto 0px;
    width: 80%;
    text-align: center;
  }

  .subscribe__forms button {
    width: 50%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 450px) {
  .subscribe__inner {
    width: 90%;
  }
  .subscribe__title {
    font-size: 32px;
    line-height: 38px;
  }
  .subscribe__forms {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .subscribe__inner {
    width: 100%;
  }
}

@media only screen and (max-width: 370px) {
  .subscribe__inner {
    padding: 30px;
  }
  .subscribe__title {
    font-size: 30px;
    line-height: 36px;
  }
}
