.about {
  padding-top: 100px;
}

.about__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 90px;
}

.about__title {
  font-size: 65px;
  line-height: 79px;
  letter-spacing: 2.88px;
}

.about__text {
  margin: 30px 0px;
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.7);
}

.about__texts button {
  position: relative;
  padding-right: 61px;
}

.about__texts button::after {
  content: '';
  position: absolute;
  background-image: url(../../assets/images/arrow_icon.svg);
  width: 41px;
  height: 17px;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
}

.about__img {
  border-radius: 15px;
}

@media only screen and (max-width: 1100px) {
  .about__content {
    gap: 60px;
  }
  .about__img {
    max-width: 550px;
  }
  .about__title {
    font-size: 54px;
    line-height: 64px;
  }
  .about__text {
    font-size: 18px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 940px) {
  .about__content {
    gap: 40px;
  }
  .about__img {
    max-width: 450px;
  }
}
@media only screen and (max-width: 800px) {
  .about__content {
    gap: 40px;
  }
  .about__title {
    font-size: 44px;
    line-height: 50px;
  }
  .about__text {
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0px 15px;
  }
  .about__img {
    max-width: 350px;
  }
}

@media only screen and (max-width: 700px) {
  .about__img {
    max-width: 400px;
  }
  .about__content {
    gap: 20px;
    flex-direction: column-reverse;
    text-align: center;
  }
  .about__texts {
    width: 70%;
  }
  .about__title {
    margin-bottom: 20px;
  }
  .about__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .about__content {
    position: relative;
  }
  .about__texts {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
  }
  .about__img {
    max-width: 95%;
    filter: brightness(50%) blur(2px);
    z-index: 1;
  }
}

@media only screen and (max-width: 450px) {
  .about__title {
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 10px;
  }
  .about__text {
    font-size: 14px;
    line-height: 22px;
    margin: 5px 0px 10px;
  }
}

@media only screen and (max-width: 400px) {
  .about__title {
    font-size: 32px;
    line-height: 38px;
  }
  .about__img {
    max-width: 100%;
  }
}