.episodes {
  padding-top: 100px;
}

.episodes__titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.episodes__title {
  font-size: 64px;
  line-height: 79px;
  letter-spacing: 2.88px;
}

.episodes__btn {
  font-size: 17px;
  line-height: 27px;
  background-color: #118DA8;
  padding: 12px 20px;
  border-radius: 6px;
  font-weight: 400;
}

.episodes__cards {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

@media only screen and (max-width: 1100px) {
  .episodes {
    padding-top: 60px;
  }
  .episodes__titles {
    margin-bottom: 25px;
  }
  .episodes__title {
    font-size: 54px;
    line-height: 64px;
  }
}

@media only screen and (max-width: 800px) {
  .episodes__title {
    font-size: 44px;
    line-height: 54px;
    letter-spacing: normal;
  }
  .episodes__titles {
    gap: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .episodes__title {
    font-size: 40px;
    line-height: 48px;
  }
  .episodes__titles {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 500px) {
  .episodes__titles {
    gap: 15px;
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 350px) {
  .episodes__title {
    font-size: 34px;
    line-height: 40px;
  }
}
