.episodes {
  padding-top: 100px;
}

.episodes__titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.episodes__title {
  font-size: 64px;
  line-height: 79px;
  letter-spacing: 2.88px;
}

.episodes__btn {
  font-size: 17px;
  line-height: 27px;
  background-color: #118DA8;
  padding: 12px 20px;
  border-radius: 6px;
  font-weight: 400;
}

.episodes__cards {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
