.episodes__card {
  background-color: #000000;
  border-radius: 32px;
  padding: 40px;
  display: flex;
  gap: 55px;
  align-items: center;
  justify-content: space-between;
}

.card__tag {
  display: inline-block;
  font-size: 18px;
  line-height: 27px;
  padding: 2px 16px;
  background-color: #202020;
  border-radius: 6px;
}

.card__counter {
  margin-top: 40px;
  color: #118DA8;
}

.card__title {
  font-size: 64px;
  line-height: 70px;
  letter-spacing: 2.56px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card__descr {
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.7);
  padding: 20px 0px;
}

.card__btn {
  margin-top: 10px;
  margin-bottom: 20px;
}