.feedback__card {
  background-color: #000000;
  border-radius: 32px;
  padding: 50px;
  transition: transform .3s;
}

.feedback__card:hover {
  transform: scale(1.05);
}

.card__stars {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card__text {
  margin: 20px 0px;
  font-size: 36px;
  line-height: 43px;
}

.card__author {
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
}