.footer {
  padding-top: 100px;
  padding-bottom: 50px;
}

.footer__inner {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.footer__rightside {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
}

.footer__social {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.footer__social-img path {
  transition: .3s;
}

.footer__social-img:hover path {
  stroke: #118DA8;
}

.footer ul {
  font-size: 17px;
  line-height: 27px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__list-link {
  transition: color .3s;
}

.footer__list-link:hover {
  color: #118DA8;
}

@media only screen and (max-width: 1100px) {
  .footer__inner {
    grid-template-columns: 1fr 2fr;
  }
}

@media only screen and (max-width: 940px) {
  .footer__social {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 800px) {
  .footer ul {
    font-size: 14px;
    line-height: 20px;
    gap: 5px;
    margin: 0 15px; 
  }
}

@media only screen and (max-width: 700px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 25px;
  }
  .footer__inner {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    gap: 40px;
  }
  .footer__rightside {
    grid-row: 1;
  }
  .footer__leftside {
    grid-row: 2;
    margin: 0 auto;
  }
  .footer__social { 
    justify-content: center;
  }
}

@media only screen and (max-width: 500px) {
  .footer__inner {
    gap: 15px;
  }
  .footer__rightside {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 350px) {
  .footer ul {
    font-size: 12px;
    line-height: 18px;
  }
}
