.footer {
  padding-top: 100px;
  padding-bottom: 50px;
}

.footer__inner {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.footer__rightside {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
}

.footer__social {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.footer__social-img path {
  transition: .3s;
}

.footer__social-img:hover path{
  stroke: #118DA8;
}

.footer ul {
  font-size: 17px;
  line-height: 27px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__list-link {
  transition: color .3s;
}

.footer__list-link:hover {
  color: #118DA8;
}

@media only screen and (max-width: 1100px) {
  .footer__inner {
    grid-template-columns: 1fr 2fr;
}
}