@font-face {
  font-family: 'DMSans';
  src: url('./assets/fonts/DMSans-Regular.woff2') format('woff2'),
    url('./assets/fonts/DMSans-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url('./assets/fonts/DMSans-Bold.woff2') format('woff2'),
    url('./assets/fonts/DMSans-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.App {
  background-color: #191919;
  color: #ffffff;
  font-family: 'DMSans';
  font-weight: 400;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

p {
  margin: 0;
  padding: 0;
}