.players__links {
  display: flex;
  align-items: center;
  gap: 12px;
}

.players__link_image {
  will-change: transform;
  transition: all .3s;
}

.players__link_image:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 800px) {
  .players__link_image {
    width: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .players__link_image {
    width: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .players__link_image {
    width: 25px;
  }
}

@media only screen and (max-width: 370px) {
  .players__link_image {
    width: 22px;
  }
}